{% extends 'main/lays.html' %}
{% load  widget_tweaks %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg12">
            <div class="card card-body nt-5 {% block card-color %} border-dark text-light bd-secondary {% endblock card-color %}">
                <span class="text-center">{% block card-title %} Enter People Data Below {% endblock card-title %}</span>
            </div>
        </div>
    </div>
    <form {% block action %} action="/add_People" {% endblock action %} method="POST" enctype="multipart/form-data" autocomplete="off" class="card p-3 border-dark nt-3">
        {% csrf_token %}
        {% block value-id %}{% endblock value-id %}
        <div class="input-group mb-3">
            <span class="side-label btn border-secondary bg-light" ><i class="fas fa-tshirt"></i></span>
            <input type="text" class="form-control" name="username" maxlength="40" placeholder="People username " required {% block value-username  %}{% endblock value-username  %}>
        </div>

        <div class="input-group mb-3">
            <span class="side-label btn border-secondary bg-light" ><i class="fas fa-tshirt"></i></span>
            <input type="numbert" class="form-control" name="number" maxlength="40" placeholder="number" required {% block value-number %}{% endblock value-number %}>
        </div>

        <div class="input-group mb-3">
            <span class="side-label btn border-secondary bg-light" ><i class="fas fa-tshirt"></i></span>
            <input type="number" class="form-control" name="phone" maxlength="40" placeholder="phone" required {% block value-phone %}{% endblock value-phone %}>
        </div>

        <div class="input-group mb-3">
            <span class="side-label btn border-secondary bg-light" ><i class="fas fa-tshirt"></i></span>
            <input type="number" class="form-control" name="Inn" maxlength="40" placeholder="Inn" required {% block value-Inn %}{% endblock value-Inn %}>
        </div>


        <div class="nt-4" style="width: 100%">
            <button type="submit" class="btn btn-secondary mb-3">
            {% block btn-action %} <i class="fas fa-plus"> &nbsp;&nbsp; Add People {% endblock btn-action %}</i>
            </button>
            <a href="{% url 'database' %}" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Back">
                <i class="fas fa-chevron-left"></i>
            </a>
            <button type="reset" class="btn btn-outline-dark mb-3 ms-2" style="width: 50px;" title="Reset">
                <i class="fas fa-chevron-left"></i>
            </button>

        </div>
    </form>
</div>


{% endblock %}