{% extends 'main/lays.html' %}
 {% block content %}
   <div class="container_table">
         <form method="post" action="{% url 'Table' %}">
         {% csrf_token %}
         <!-- Amount input -->
		 <div class="select-text">
            <input  name="amount" type="number" REQUIRED>
            <span>валюта</span>
         </div>
         <br>

		 <div class="select-wrapper">
			<!-- From options -->
            <select name="currency_to" class="select">
               {% for c in currency_data %}
               <option value="{{c.CharCode}}">{{c.Name}}</option>
               {% endfor %}
            </select>
         </div>
         <br>
         <br>
          <p class = "text_vibor"><b>выберите операцию</b></p>
          <ul class = "inlineList">
             <li><input type="radio" name="oplata" value="sale">продажа</li>
             <li><input type="radio" name="oplata" value="puy">покупка</li>
          </ul>
         <div class="select-submit_table">
            <input type="submit" class="Convert1">
         </div>
         <!-- Converter result -->
         <h2 class="h2Result">{{ result }} {{ currency_to }}</h2>
   </div>
{% endblock %}

