{% extends 'databace/lays_static.html' %}
{% load  widget_tweaks %}
{% block content %}
    <section class="bab">
        <div class="button__area">
            <button id="button__click" class="button__click">Click!</button>
        </div>

        <div id="click__modal" style="display:none;">
          <form id="click__confirm" class="click__confirm" autocomplete="off" action="{% url 'database:apply_people' %}" method="POST">
           {% csrf_token %}
            <div class="click__label">username</div>
           {% render_field form.username class="form_field"%}
            <div class="click__label">number</div>
           {% render_field form.number class="form_field"%}
        </form>
        <div id="message" class="success_message"></div>
        </div>
    </section>

    <div class="container">
    <br><br><br>

        <table class="table table-bordered" id="example" style="text-align: center;">
            <thead class="table success">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Number</th>
            </tr>
            </thead>
            {% for employee in employees %}
            <tr>
                <td>{{ People.id }}</td>
                <td>{{ People.name }}</td>
                <td>{{  People.Number }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

<br><br><br><br>
{% endblock %}
